<!DOCTYPE html>
<a id="add-score" class="button">Add Time to Scoreboard </a>

<div id="modal-backdrop" class="hide"></div>

<div id="score-modal" class="hide">

	<div class="modal-dialog">

		<div class="modal-header">
			<h3>Add Your Score</h3>
			<button type="button" class="modal-close-button">&times;</button>
		</div>

		<div class="modal-body">
			<div class="input-element">
				<label for="name-input">Your Name</label>
				<input type="text" id="name-input"></textarea>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="modal-cancel-button">Cancel</button>
			<button type="button" class="modal-accept-button">Add Score</button>
		</div>

	</div>
</div>