<!DOCTYPE html>
<center>
	<h1 class="heading-text">Choose a difficulty setting</h1>
	<h2>Current difficulty: {{#if easy}} EASY {{else}} HARD {{/if}}</h2>
	<br>
	<a class="button" href="/slide/easy">Easy: Image is broken into a 3x3 grid </a>
	<a class="button" href="/slide/hard">Hard: Image is broken into a 4x4 grid </a>
	<br>
	<br>
	<h2>Choose an image to solve!</h2>
	<ul class="slide-selection">
		<li><img src="/images/slide0.png" alt="Image unavaliable"></li>
		<li><a class="button" href="/slide/0">Slide this Image</a></li>
		<li><img src="/images/slide1.jpg" alt="Image unavaliable"></li>
		<li><a class="button" href="/slide/1">Slide this Image</a></li>
		<li><img src="/images/slide2.jpg" alt="Image unavaliable"></li>
		<li><a class="button" href="/slide/2">Slide this Image</a></li>
		<li><img src="/images/slide3.jpg" alt="Image unavaliable"></li>
		<li><a class="button" href="/slide/3">Slide this Image</a></li>

	</ul>
</center>