<div>
	<center>
		<h1 class="heading-text">404</h1>
		<h2 class="lower-text"> Sorry!!! This page is unavailable or currently under construction! </h2>
		<a class="button" href="/"> Back to Home </a>
	</center>
</div>