<div>
	<center>
		<h1 class="heading-text">Welcome to the Puzzle Library</h1>
		<h2 class="lower-text">Choose a puzzle to get started</h2>
		<a class="button" href="/slide"> Slide Puzzles </a>
		<a class="button" href="/sudoku"> Sudoku Puzzles </a>
		<a class="button" href="/score"> View Scoreboard </a>
	</center>
</div>