{{#if button}}
{{>timer}}
<center id="puzzle-container">
	<p id="game-play-message">Solve the puzzle to complete the image!</p>
	<p id="solved-message" class="hide">Congratulations! You solved the puzzle!</p>
	{{#if easy}}
	<div id="table" class="unsolved-border" style="display: table;">
		<div id="row1" style="display: table-row;">
			<div id="cell11" class="tile1 tiles easy" style="display: table-cell; "></div>
			<div id="cell12" class="tile2 tiles easy" style="display: table-cell; "></div>
			<div id="cell13" class="tile3 tiles easy" style="display: table-cell; "></div>
		</div>
		<div id="row2" style="display: table-row;">
			<div id="cell21" class="tile4 tiles easy" style="display: table-cell;"></div>
			<div id="cell22" class="tile5 tiles easy" style="display: table-cell;"></div>
			<div id="cell23" class="tile6 tiles easy" style="display: table-cell;"></div>
		</div>
		<div id="row3" style="display: table-row;">
			<div id="cell31" class="tile7 tiles easy" style="display: table-cell;"></div>
			<div id="cell32" class="tile8 tiles easy" style="display: table-cell;"></div>
			<div id="cell33" class="tile9" style="display: table-cell;"></div>
		</div>
	</div>
	
	{{else}}
	<div id="table" class="unsolved-border" style="display: table;">
		<div id="row1" style="display: table-row;">
			<div id="cell11" class="tile1h tiles hard" style="display: table-cell;"></div>
			<div id="cell12" class="tile2h tiles hard" style="display: table-cell;"></div>
			<div id="cell13" class="tile3h tiles hard" style="display: table-cell;"></div>
			<div id="cell14" class="tile4h tiles hard" style="display: table-cell;"></div>
		</div>
		<div id="row2" style="display: table-row;">
			<div id="cell21" class="tile5h tiles hard" style="display: table-cell;"></div>
			<div id="cell22" class="tile6h tiles hard" style="display: table-cell;"></div>
			<div id="cell23" class="tile7h tiles hard" style="display: table-cell;"></div>
			<div id="cell24" class="tile8h tiles hard" style="display: table-cell;"></div>
		</div>
		<div id="row3" style="display: table-row;">
			<div id="cell31" class="tile9h tiles hard" style="display: table-cell;"></div>
			<div id="cell32" class="tile10 tiles hard" style="display: table-cell;"></div>
			<div id="cell33" class="tile11 tiles hard" style="display: table-cell;"></div>
			<div id="cell34" class="tile12 tiles hard" style="display: table-cell;"></div>
		</div>
		<div id="row4" style="display: table-row;">
			<div id="cell41" class="tile13 tiles hard" style="display: table-cell;"></div>
			<div id="cell42" class="tile14 tiles hard" style="display: table-cell;"></div>
			<div id="cell43" class="tile15 tiles hard" style="display: table-cell;"></div>
			<div id="cell44" class="tile16" style="display: table-cell;"></div>
		</div>
	</div>
	{{/if}}
	<div id="button">
		<br>
		<br>
		<a id="newgame" class="button">New Game</a>
		<a class="button" href="/slide">Back to Selection</a>
		<a id="disable"class="button">Disable Timer</a>
		<a id="enable"class="button hide">Enable Timer</a>
		<br>
	</div>
	<div id="puzzle-solved-buttons" class="hide">
		<a id="solved-play-again" class="button" href="/slide">Play Again </a>
	</div>
</center>
{{else}}
{{>selection}}
{{/if}}